/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 70vh;
    height: 100vh; */
}


div {
    align-items: center;
    width: 100%;
}

.debugz {
    border: 1px solid red;
}

/* assets */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.off-bg {
    background-color: darkslategray;
}


.block {
    padding: 40px;
    align-items: center;
}

.text {
    padding: 10px;
    font-size: 110%;
}

img {
    width: 100%;

}

#button {
    font-size: 200%;
    padding: 15px 50px;
    border-radius: 60px;
    background-color: brown;
    color: white;
    border: none;
    align-items: center;
}

#button:hover {
    color: yellow;
}

/* flex utility */
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}